{{!
    This file is part of the fullscreen button plugin.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_fullscreen/button

    Renders the html that displays the fixed full screen icon on a page.

    Classes required for JS:
    * local-fullscreen-padding
    * local-fullscreen

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * fullscreen boolean

    Example context (json):
    {
        "fullscreen": true
    }
}}

<div class="local-fullscreen-padding">
    <div title="{{#str}}togglefullscreenmode, local_fullscreen{{/str}}" class="local-fullscreen" role="switch" aria-checked="{{#fullscreen}}true{{/fullscreen}}{{^fullscreen}}false{{/fullscreen}}"></div>
</div>
